# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

# Gulp APP files
.babelrc
.bowerrc
.yo-rc.json
.gitattributes
.editorconfig
node_modules
.tmp
bower_components
test/bower_components
